<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Secret Santa Generator</title>
	<meta name="title" content="Secret Santa Generator">  
	<meta name="description" content="This Secret Santa generator will organize your gift exchange online. Fill out the gift exchange generator and draw names!">
	<meta name="keywords" content="secret santa generator, gift exchange generator, name generator, online secret santa, gift exchange website, draw names">
	<meta property="og:title" content="Secret Santa Generator">
    <meta property="og:type" content="website">
    <meta property="og:image" content="https://static-cdn.drawnames.com/Content/og-image-drawnames.png?nc=201707172130">
    <link rel="icon" href="https://static-cdn.drawnames.com/Content/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="https://static-cdn.drawnames.com/Content/apple-touch-icon.png">
    <link rel="apple-touch-icon-precomposed" href="https://static-cdn.drawnames.com/Content/apple-touch-icon.png">
    <link rel="stylesheet" type="text/css" media="screen" href="https://static-cdn.drawnames.com/Content/basics.css?nc=201707201137">
    <script src="https://static-cdn.drawnames.com/Scripts/jquery-1.10.2.min.js" type="text/javascript"></script>   
	<link rel="stylesheet" href="/assets/css/style.css" type="text/css">    
</head>
<body>
	{{{ body }}}
</body>
</html>