<div id="snow"></div>
<div id="myanimation"></div>

<div id="main" class="container_main no-touch">
<div class="clear"></div>
        
<div class="container_content">
	
  <div class="container_split">
    <h1 style="font-size:200%"><u>Group Name</u></h1>
    <h2>Location  |  Date  |  Budget</h2>
    <br>
    <h1>Group Members</h1>
    <h2>Member Name</h2>
    <ol>
      <li>Wishlist Item 1</li>
      <li>Wishlist Item 2</l1>
      <li>Wishlist Item 3</li>
    </ol>
    <br>
    <h2>Member Name 2</h2>
    <ol>
      <li>Wishlist Item 1</li>
      <li>Wishlist Item 2</l1>
      <li>Wishlist Item 3</li>
    </ol>
  </div>

	<div class="container_theme_opgeven">
		<img class="tfd" src="https://www.secretsantaorganizer.com/bundles/intractosecretsanta/img/ico/social.jpg" alt="Draw names">
	</div>

  <div class="clear"></div>

  <div class="container_wide"></div>

  <div id="memberlist" class="numbered">
    <div class="clear"></div>
    <div id="member_1"></div>
    <div class="clear"></div>
    <div class="intro_firstmember comment"></div>
    <div class="clear05"></div>
  </div>

  <br>

	<div class="clear"></div>

  <div class="container_banner"></div>
  <div class="border_footer"></div>

  <div class="copyright">Copyright © 2017 Secret Santa Team ®</div>
  
</div>
  