<div id="snow"></div>

<div id="myanimation"></div>

    
<div id="main" class="container_main no-touch">
<div class="clear"></div>
        
<div class="container_content">
	
	<div class="container_split">
    
      	<h1>Hello,</h1>

      	<form action="/home" id="addlottery" method="get" novalidate="novalidate">
      		<input type="submit" value="Your Group">
      	</form>
      	<br><br><br>
      	<h1>Your Groups</h1>
      	<h2>Group 1</h2>
      	<h3>Members</h3>
      	<ol>
      		<li>Member 1</li>
      		<li>Member 2</li>
      		<li>Member 3</li>
      	</ol>
    </div>

	<img class="tfd" src="https://www.secretsantaorganizer.com/bundles/intractosecretsanta/img/ico/social.jpg" alt="Draw names">

    <div class="clear"></div>
    <div class="container_wide"></div>
    <div id="memberlist" class="numbered">
		<div class="clear"></div>
		<div id="member_1"></div>
	    <div class="clear"></div>
	    <div class="intro_firstmember comment"></div>
	    <div class="clear05"></div>
    </div>  
    <br>
	<div class="clear"></div>

<div class="container_banner"></div>
<div class="border_footer"></div>

<div class="copyright">Copyright © 2017 Secret Santa Team ® <a href="/logout">Log Out</a></div>
</div>

   