<div id="snow"></div>

<div id="myanimation"></div>

    
<div id="main" class="container_main no-touch">
<div class="clear"></div>
        
<div class="container_content">
	
	<div class="container_split">
      	<h1>Secret Santa Generator!</h1>
      	<p>Enter the names and email addresses for the gift exchange.<br>Our Secret Santa Generator will handle the rest!<br><br>
      	<form action="/home" id="addlottery" method="get" novalidate="novalidate">
      		<input type="submit" name="nextStep" value="Create an Account">
      		<input type="submit" name="nextStep" value="Log In">
      	</form>
    </div>

	<img class="tfd" src="https://www.secretsantaorganizer.com/bundles/intractosecretsanta/img/ico/social.jpg" alt="Draw names">

    <div class="clear"></div>
    <div class="container_wide"></div>
    <div id="memberlist" class="numbered">
	    <div class="clear"></div>
	    <div id="member_1"></div>
	    <div class="clear"></div>
	    <div class="intro_firstmember comment"></div>
	    <div class="clear05"></div>
    </div>  
    <br>
	<div class="clear"></div>

<div class="container_banner"></div>

<div class="border_footer"></div>
<div class="copyright">Copyright © 2017 Secret Santa Team ®</div>
</div>
  