<div id="snow"></div>

<div id="myanimation"></div>

    
<div id="main" class="container_main no-touch">
<div class="clear"></div>
        
<div class="container_content">
	
	<div class="container_split">
    <h1>Secret Santa Generator!</h1>
    <p>Enter the names and email addresses for the gift exchange.<br>Our Secret Santa Generator will handle the rest!<br><br>

    <div id="login-area">
      <button class="btn btn-primary btn-lg" id="register-button"><h2><a href="/signup">Create an Account</a></h2></button><br><br>
      <button class="btn btn-primary btn-lg" id="login-button"><h2><a href="/login">Log In</a></h2></button>
    </div>
  </div>

	<img class="tfd" src="https://www.secretsantaorganizer.com/bundles/intractosecretsanta/img/ico/social.jpg" alt="Draw names">

    <div class="clear"></div>
    <div class="container_wide"></div>
    <div id="memberlist" class="numbered">
	    <div class="clear"></div>
	    <div id="member_1"></div>
	    <div class="clear"></div>
	    <div class="intro_firstmember comment"></div>
	    <div class="clear05"></div>
    </div>  
    <br>
	<div class="clear"></div>

<div class="container_banner"></div>

<div class="border_footer"></div>
<div class="copyright">Copyright © 2017 Secret Santa Team ®</div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
{{!-- <script type="text/javascript" src="/public/js/index.js"></script> --}}
<script type="text/javascript">
  
  
</script>
  