<div id="snow"></div>
<div id="myanimation"></div>

<div id="main" class="container_main no-touch">
<div class="clear"></div>
        
<div class="container_content">
    <h1>Create an account</h1>
    <h2>Make a username and password for your account</h2><br>
    <form action="/signup" method="post">
        <div class="form-group">
            <label>Username</label>
            <input type="text" id="username" placeholder="Username" name="username" class="form-control" name="email">
        </div>
        <div class="form-group">
            <label>Password</label>
            <input type="password" id="password" placeholder="Password" name="password" class="form-control" name="password">
        </div>

        <button type="submit" class="btn btn-warning btn-lg">Signup</button>
    </form>

    <div>If you have an account already, <a href="/login">login</a> here</div>
    <div>Go <a href="/">home</div>

    

  <div class="clear"></div>

  <div class="container_wide"></div>

  <div id="memberlist" class="numbered">
    <div class="clear"></div>
    <div id="member_1"></div>
    <div class="clear"></div>
    <div class="intro_firstmember comment"></div>
    <div class="clear05"></div>
  </div>

  <br>

    <div class="clear"></div>

  <div class="container_banner"></div>
  <div class="border_footer"></div>

  <div class="copyright">Copyright © 2017 Secret Santa Team ®</div>
  
</div>

